@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

img {
  display: block;
}

:root {
  --main-font-color: #333333;
  --main-font-family: "Montserrat";
  --content-font-family: "ヒラギノ角ゴシック";
}

.header {
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 100vw;
  background: #21054D;
}
@media screen and (min-width: 768px) {
  .header {
    height: 84px;
  }
}
.header__hambarger {
  display: block;
  height: 44px;
  width: 44px;
}
@media screen and (min-width: 768px) {
  .header__hambarger {
    display: none;
  }
}
.header__hambarger-bars {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.header__bar {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 2px;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}
.header .bar-mid {
  top: 8px;
}
.header .bar-bottom {
  top: 16px;
}
.header__logo {
  width: 128px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 160px;
  }
}
.header__inner {
  padding: 0 20px;
  height: 100%;
}
.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-body {
  background: url(img/design--nav-open.png);
  background-size: contain;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease;
}
.header__nav-body.open {
  right: 0;
}
@media screen and (min-width: 768px) {
  .header__nav-body {
    right: 0;
    background: none;
    position: static;
    width: auto;
    height: auto;
  }
}
.header__nav-item {
  margin: 0 0 20px 0;
  text-align: center;
}
.header__nav-item:last-of-type {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header__nav-item {
    margin: 0 25px 0 0;
  }
}
.header__nav-items {
  margin: 300px 0;
}
@media screen and (min-width: 768px) {
  .header__nav-items {
    margin: 0;
    display: flex;
  }
}
.header__nav-items a {
  display: block;
  color: #ffffff;
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.pg-mainvisual {
  color: #ffffff;
  position: relative;
  top: 0;
  left: 0;
}
.pg-mainvisual__heading {
  font-family: var(--main-font-family);
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .pg-mainvisual__heading {
    font-size: 7.2rem;
  }
}
@media screen and (min-width: 768px) {
  .pg-mainvisual__text {
    text-align: center;
  }
}
.pg-mainvisual__sub-heading {
  font-size: 1.6rem;
  font-family: var(--content-font-family);
  margin: 20px 0 0 0;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .pg-mainvisual__sub-heading {
    font-size: 2.4rem;
  }
}
.pg-mainvisual__body {
  position: absolute;
  top: 284px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .pg-mainvisual__body {
    top: 265px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
.pg-mainvisual__button {
  margin: 30px 0 0 0;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .pg-mainvisual__button {
    margin: 50px auto 0;
  }
}
.pg-mainvisual__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: var(--main-font-family);
  font-weight: bold;
  border: solid 1px #ffffff;
  width: 100%;
  height: 55px;
  border-radius: 50px;
  letter-spacing: 0.08em;
}
.pg-wrapper {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}
.pg-news {
  margin: 40px 0 80px;
}
@media screen and (min-width: 768px) {
  .pg-news__content {
    display: flex;
    justify-content: space-between;
  }
}
.pg-news__inner {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .pg-news__inner {
    max-width: 917px;
    margin: 0 auto;
  }
}
.pg-news__posts {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .pg-news__body {
    width: calc(100% - 120px - 52px);
  }
}
.pg-news__post {
  margin: 40px 0 0 0;
}
@media screen and (min-width: 768px) {
  .pg-news__post {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pg-news__post:first-of-type {
    margin: 0;
  }
}
.pg-news__date {
  display: flex;
  align-items: center;
}
.pg-news__date span {
  display: flex;
  background: #E8E8E8;
  width: 82px;
  height: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
}
.pg-news__date-text {
  letter-spacing: 0.08em;
  margin: 0 20px 0 0;
}
.pg-news__lead {
  font-family: var(--content-font-family);
}
@media screen and (min-width: 768px) {
  .pg-news__lead {
    width: calc(100% - 190px - 20px);
  }
}
.pg-news__lead-text {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .pg-news__heading {
    margin: 0 50px 0 0 0;
  }
}
.pg-service {
  margin: 80px 0 40px;
}
.pg-service__inner {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .pg-service__inner {
    max-width: 1100px;
    margin: 0 auto;
  }
}
.pg-service__img {
  max-width: 500px;
  margin: 0 auto;
}
.pg-service__img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pg-service__lists {
    display: flex;
    justify-content: space-between;
  }
}
.pg-service__list {
  margin: 40px 0 0 0;
}
@media screen and (min-width: 768px) {
  .pg-service__list {
    width: calc((100% - 50px) / 3);
  }
}
.pg-service__list-title {
  font-size: 1.8rem;
  text-align: center;
}
.pg-service__detail {
  margin: 12px 0 0 0;
}
.pg-service__text {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.03em;
}
.pg-service__desc {
  margin: 16px 0 0 0;
}
.pg-service__button {
  margin: 40px 0 0 0;
}
.pg-content--color {
  background-color: #F7F7F7;
}
.pg-works__inner {
  padding: 0 20px;
}
.pg-works__body {
  padding: 44px 0;
}
.pg-works__text {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
.pg-company {
  background: url(img/design--company-sp.png);
  background-size: contain;
  padding: 88px 0 116px;
}
.pg-company__inner {
  padding: 0 20px;
}
.pg-company__concept {
  text-align: center;
}
.pg-company__concept-text {
  font-size: 3.2rem;
  font-weight: 600;
  font-family: var(--content-font-family);
  line-height: 1.3;
  display: inline;
  background: linear-gradient(transparent 78%, #F5F534 40%);
  letter-spacing: 0.06em;
}
.pg-company__detail {
  margin: 44px 0 32px;
}
.pg-company__text {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
.pg-recruit__content {
  padding: 60px 0 56px;
}
.pg-recruit__body {
  padding: 0 20px;
}
.pg-recruit__detail {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
.pg-contact {
  margin: 40px 0 0 0;
}
.pg-contact__inner {
  padding: 60px 0;
}
.pg-contact__content {
  padding: 0 20px;
}
.pg-contact__text {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
.pg-footer {
  background: #000000;
  color: #A798B7;
  font-family: var(--main-font-family);
}
.pg-footer a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  padding: 0 10px;
}
.pg-footer__content {
  padding: 60px 0;
}
.pg-footer__inner {
  padding: 0 20px;
}
.pg-footer__nav {
  display: flex;
  flex-wrap: wrap;
}
.pg-footer__list {
  margin: 0 0 20px 0;
}
.pg-footer__copyright {
  margin: 10px 0 0 0;
}
.pg-footer__copyright-text {
  text-align: center;
}
.pg-top-button {
  position: fixed;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s;
}
.pg-top-button img {
  width: 50px;
}
.pg-top-button a {
  pointer-events: none;
}

.content-heading {
  text-align: center;
}
.content-heading__title {
  color: #391E88;
  margin: 0 0 32px 0;
}
.content-heading__title strong {
  display: block;
  font-size: 3rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .content-heading__title strong {
    font-size: 3.6rem;
  }
}
.content-heading__title small {
  font-size: 1.3rem;
  font-weight: bold;
}
.content-button {
  margin: 32px 0 0 0;
}
.content-button img {
  margin: 0 auto;
}

.show {
  opacity: 1;
  visibility: visible;
}

.header__bar.bar-top.active {
  width: 24px;
  transform: rotate(45deg);
  top: 10px;
}
.header__bar.bar-mid.active {
  opacity: 0;
}
.header__bar.bar-bottom.active {
  width: 24px;
  top: 10px;
  transform: rotate(135deg);
}

@media screen and (min-width: 768px) {
  .n-b-none {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */